/*********Navbar style*********/
.navbar-main-layout{
  width: 97%;
  height: 100%; 
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;

}
.navbar-main-layout-logo{
  width: 100%;
  height: 15%;
}
.navbar-main-layout-content{
  width: 100%;
  height: 80%;
}
.nav-content{
  width: 70%;
  height: 10%;
  margin-left: 10%;
  font-size: medium;
  display: flex;
  align-items: center;
  color:  rgb(32, 99, 187);
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}
.drop-down-layout{
  width: 70%;
  height: 35%;
  margin-left: 10%;
  border-bottom:0.5px solid gray;
  border-top:0.5px solid gray;
}
.drop-down-content{
  width: 100%;
  height: 25%;
  font-size: 15px;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(32, 99, 187);
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
  outline: none;
  border: none;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: drop-down-content;
  animation-duration: 3s;
}
@keyframes drop-down-content {
  from {background-color:rgb(32, 99, 187);}
  to {background-color: whitesmoke;}
}
.drop-down-content:hover{

  background-color: rgb(32, 99, 187);
  color:  white;
 
}
/*********Body style*********/
.body-main-layout{
    width: 98%;
    height: 100vh; 
}
.body-main-layout-logo{
  width: 100%;
  height: 20vh;
  
}
.body-content{
  width: 100%;
  height: 80vh;
  overflow: scroll;
  overflow-x: hidden;
  
}
.body-content1{
  width: 95%;
  height: 35%;
  background-color: whitesmoke; 
  border-radius: 10px;
  margin-left: 2.5%; 
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dropbtn {
  color: rgb(32, 99, 187);
  padding: 16px;
  background-color: whitesmoke; 
  font-size: 30px;
  border: none;
  cursor: pointer;
  outline: none ;
}

.dropdown {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; 
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: 1;
}
.transition{
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}
.dropdown-content a {
  color: rgb(32, 99, 187);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: 600;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: whitesmoke; 
}
.message{
  color: white;
}
.BTN-CLICK-MSG{
  z-index: -1;
  color: rgb(32, 99, 187);
  width: 100px;
  height: 30px;
  font-weight: 600;
  background-color: white;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: none;
  outline: none;
}
.BTN-CLICK-MSG:hover{
    background-color: rgb(32, 99, 187);
    color: white;
  }

.msg-drop-down-layout{
  position: fixed;
  width: 250Px;
  height: 250px;
  margin-top: 19.5%;
  margin-left: 59.5%;
  border-radius: 10px;
  z-index: 10;
  animation-name:example;
  animation-duration: 2s;
  background-color: #282c34;
}
@keyframes example {
  from {background-color: rgb(32, 99, 187);}
  to {background-color: #282c34;}
}

.msg-drop-down-layout-head{
  width: 100%;
  height: 20%;
  border-radius: 10px;
}
.close-btn-msg{
  outline: none;
  border: none;
  float: right;
  width:50px;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.CancelIcon{
  color: white;
}
.Messages-display{
  font-size: large;
  font-weight: 500;
  margin-left: 30px;
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(197, 197, 197); 
  border-radius:10px;
  height: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(173, 173, 173); 
}
/*****************************************
          CALENDAR STYLE
******************************************/
.Frame{
  width: 100%;
  height: 100%;
}
.Header{
  width: 100%;
  height: 20%;
  font-weight: 500;
  display: flex;
  background-color:  rgb(32, 99, 187);
  color: white;
}
.Day{
  font-size: 10px;
  color: white;
}
.header-month-year{
  width: 90%;
  display: flex;
  align-items: center;
  font-size: 13px;
}
.header-prev-btn{
  background-color:  rgb(32, 99, 187);
  cursor: pointer;
  border: none;
  color: white;
  outline: none;
  font-size: 18px;
}
.header-nxt-btn{
  background-color:  rgb(32, 99, 187);
  cursor: pointer;
  border: none;
  color: white;
  outline: none;
  font-size: 18px;
}
.Body{
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  background-color:  rgb(32, 99, 187);
}
.Day{
  width: 14.2%;
  height: 20%;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.day{
  width: 14.2%;
  height: 10%;
  color: white;
  font-size: 11px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.day:hover{
  background-color:  rgb(32, 99, 187);
  color: white;
}
/*********Notification style*********/
.notificatio-main-layout{
    width: 100%;
    height: 100%;
}
.notificatio-main-layout-top{
  width: 100%;
  height: 10%;
}
.notification-main-bottom{
  width: 100%;
  height: 90%;
}
.notification-calender{
  width: 90%;
  height:55%;
  margin-left:5%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.calender-style{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    background-color: rgb(32, 99, 187);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .calender-style-in{
    width: 80%;
    height: 90%;
  }
  .calender-style-c{
    width: 100%;
    height: 70%;
    overflow: hidden;
  }
  .calender-style-date{
    width: 100%;
    height: 30%;
    border-top:0.5px solid white;
    color: white;
    line-height: 40%;
  }