/*****************************************
          CALENDAR STYLE
******************************************/
.Frame{
    width: 100%;
    height: 100%;
  }
  .Header{
    width: 100%;
    height: 20%;
    font-weight: 500;
    display: flex;
    background-color:  rgb(32, 99, 187);
    color: white;
  }
  .Day{
    font-size: 10px;
    color: white;
  }
  .header-month-year{
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  .header-prev-btn{
    background-color:  rgb(32, 99, 187);
    cursor: pointer;
    border: none;
    color: white;
    outline: none;
    font-size: 18px;
  }
  .header-nxt-btn{
    background-color:  rgb(32, 99, 187);
    cursor: pointer;
    border: none;
    color: white;
    outline: none;
    font-size: 18px;
  }
  .Body{
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    background-color:  rgb(32, 99, 187);
  }
  .Day{
    width: 14.2%;
    height: 20%;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .day{
    width: 14.2%;
    height: 10%;
    color: white;
    font-size: 11px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .day:hover{
    background-color:  rgb(32, 99, 187);
    color: white;
  }
  /*********Notification style*********/
  .notificatio-main-layout{
      width: 100%;
      height: 100%;
  }
  .notificatio-main-layout-top{
    width: 100%;
    height: 10%;
  }
  .notification-main-bottom{
    width: 100%;
    height: 90%;
  }
  .notification-calender{
    width: 90%;
    height:55%;
    margin-left:5%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .calender-style{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content:center ;
      align-items: center;
      background-color: rgb(32, 99, 187);
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .calender-style-in{
      width: 80%;
      height: 90%;
    }
    .calender-style-c{
      width: 100%;
      height: 70%;
      overflow: hidden;
    }
    .calender-style-date{
      width: 100%;
      height: 30%;
      border-top:0.5px solid white;
      color: white;
      line-height: 40%;
    }