
.App-main-layout {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-main-layout-left{
  width: 20vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 12px 9px 45px -3px;
}
.App-main-layout-center{
  width: 60vw;
  height: 100vh;
  background-color: white;
  
}

.App-main-layout-right{
  width: 20vw;
  height: 100vh;
  background-color: white;
}